body{
    background-color: lightblue;
}
h1{
    color: hsla(19, 93%, 48%, 0.979);
    text-align: center;
    font-family:cursive;
    font-size: 40px;
    text-decoration: underline;
    
}
#Intro{
    font-size: 23px;
}
h2{
    min-width: 500px;
    font-family:Comic Sans MS;
    text-align: center;
    color: rgb(51, 54, 177)
    
}
thead {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    text-align: center;
}

tbody{
    height: 70px;
    text-align: center;
    font-family: Gill Sans, sans-serif;
    background-color: black;
    color: bisque;
}
#Mercury{
    color: black;
    background-color: white
}
#Venus{
    color: black;
    background-color: white
}
#Earth{
    background-color: rgb(136, 136, 221);
    color: black;
}
#Mars{
    background-color: rgb(136, 136, 221);
    color: black;
}
#photos{
    border-image-slice: fill;
    background-color: black;
    float:left;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
img {
   
    float:left;
    width: 25%;
    height: 25%;
    background-color: black;
 
 }
 .table td {
    padding: 20px 20px;
}
.table th {
    padding: 20px 20px;
}