body{
    background-color: lightblue;
}
h1{
    color: hsla(19, 93%, 48%, 0.979);
    text-align: center;
    font-family:cursive;
    font-size: 40px;
    text-decoration: underline;
    
}
#Intro{
    font-size: 23px;
}
h2{
    font-family:Comic Sans MS;
    text-align: center;
    color: rgb(51, 54, 177)
}
thead{
    font-family: Times New Roman (serif);
    color: aliceblue;
    background-color: black;
    text-align: center;
}
tbody{
    text-align: center;
    font-family: Gill Sans, sans-serif;
    background-color: black;
    color: bisque;
}
#Mercury{
    color: black;
    background-color: white
}
#Venus{
    color: black;
    background-color: white
}
#Earth{
    background-color: rgb(136, 136, 221);
    color: black;
}
#Mars{
    background-color: rgb(136, 136, 221);
    color: black;
}
#photos{
    border-image-slice: fill;
    border-left: 1px solid black;
    background-color: black;
    float:right;
}
img {
    float:right;
    width: 50%;
    height: 50%;
    background-color: black;
    border-image: auto;
 }